* {
    box-sizing: border-box;
    margin: 0;
}
header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav {
    height: 40px;
    color: white;
    position: absolute;
    left: 40px;
}
ul {
    line-height: 40px;
}
li {
    display: inline-block;
    margin-left: 16px;
  }
main {
    background-color: beige;
    height: 5000px;
}
.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
.ear {
    height: 60px;
    width: 40px;
    background-color: brown;
    position: relative;
    bottom: 60px;
}
.ear_right {
    float: right;
    left: 40px;
}
.ear_left {
    float: left;
    right: 40px;
}
.eye {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
    position: relative;
    top: 80px;

}
.eye_right {
    float: left;
}
.eye_left {
    float: right;
}