header {
    display: flex;
    justify-content: center;
}
.articles-list {
    display: flex;
    flex-wrap: wrap;
}
.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 250px;
    min-width: 250px;
    flex-grow: 1;
    flex-shrink: 1;
}