.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex: 1 0;
}

.products-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex: 1 0;
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  flex: 1 0;
}

@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex: 2 0;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
}
