httml {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eee;
}

.fa-bars {
  font-size: 2em;
  padding: 0;
  border: none;
  margin: 0;
  cursor: pointer;
}

.nav-list-item {
  display: flex;
  padding: 0;
  background-color: #808080;
  color: white;
  height: 2em;
  margin: 0.5em;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list-link {
  width: 100%;
  margin: 0.5em;
  text-decoration: none;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 599px) {
  .navigation {
    visibility: hidden;
  }
  .fa-bars {
    visibility: visible;
  }
}

@media screen and (min-width: 600px) {
  .navigation {
    visibility: visible;
  }
  .fa-bars {
    visibility: hidden;
  }
}
